aiodns==4.0.4
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
email-normalize==3.2.0
filelock==3.32.4
idna==3.19
numpy==2.5.2
pandas==3.0.5
pycares==5.0.1
pycparser==3.0
python-dateutil==2.9.0.post0
requests==2.34.2
requests-file==3.0.1
six==1.17.0
tldextract==5.3.2
urllib3==2.7.0
